@import './styles/palette.less';

.app {
  .title {
    color: @BeachWater2;
    background: @SkyGradient;
    text-align: center;
    padding: .4em;
  }

  .page {
    margin: 0.7em;
  }

  h2 {
    color: @BeachTreeLeaf1;
    padding-bottom: 0.7em;
  }
}