@BeachSky1: #e3f8ff;
@BeachSky2: #cfeff9;
@BeachSky3: #afe4fc;
@BeachSky4: #9ee6ff;
@BeachSky5: #8dd9ff;
@BeachSky5: #76d8ff;
@BeachSand1: #fff7ec;
@BeachSand2: #ffdeaa;
@BeachSand3: #ffc269;
@BeachSun1: #ffb32c;
@BeachSun2: #f49f16;
@BeachSunHalo1: #cfd4b2;
@BeachSunHalo2: #bbdbd2;
@BeachWater1: #2285fc;
@BeachWater2: #2285fc;
@BeachWater3: #005ff9;
@BeachWater4: #0850c5;
@BeachTreeLeaf1: #00c35e;
@BeachTreeLeaf2: #00b545;
@BeachTreeLeaf3: #00753b;
@BeachTrunk1: #9b4104;
@BeachTrunk2: #7c3403;

:root {
  --body-background: @BeachSand1;
}