@BeachSky1: #e3f8ff;
@BeachSand1: #f4eee7;
@BeachSand2: #ffdeaa;
@BeachSand3: #f2e6d3;
@BeachSand4: #ebd5b1;
@BeachSun1: #f49f16;
@BeachWater1: #007fa3;
@BeachWater2: #007fa3;
@BeachTreeLeaf1: #0a8d7f;
@BeachTreeLeaf2: #0c6259;
@BeachTrunk1: #97765f;
@BeachTrunk2: #574538;

@SkyGradient: radial-gradient(
    circle at 50% 100%, 
    #ffffff 0%,
    #fff9e6 5%,
    #87ceeb 25%,
    #1e90ff 100%
);

:root {
  --body-background: @BeachSand1;
}